<head>
  <style>
    p, li, h2{text-align:justify}
  </style>
</head>

<body>
<h1>Homework #5</h1>
<h2>Asegurar los endpoints del API Gateway de la tarea pasada</h2>
<p>La seguridad de los endpoints see realizo por medio de API Keys.
Para poder acceder a los metodos del API es necesario mandar el API Key como header,
si el header no coincide con el API Key establecido para el API, entonces no se tendra acceso.
<br> A continuacion se muestra el ejemplo de como debera ser enviado el header</p>
<pre>headers: {'x-api-key': 'API KEY AQUI'}</pre>
<p>La llave de acceso se genera desde el mismo servicio de API Gateway</p>
<h2>Enlista 3 cosas que debes hacer para poder alcanzar tus metas profesionales</h2>
<p>
  <ul>
  <li><b>Una mejor organización de tiempo:</b> al tener una mejor organización en los
    tiempos que se dedican a las diversas actividades permite ser más productivo. Es
    necesario conocerse uno mismo y saber que actividades son las que toman más
    tiempo, para de esta manera asignarles una mayor porción y disminuir el de
    actividades menos importantes. Es muy importante tener autocontrol para poder
    respetar el tiempo establecido y no caer actividades ociosas que impidan alcanzar
    tus objetivos.</li>
  <li><b>Salir de la zona de confort:</b> muchas oportunidades en la vida se van porque uno
    no se anima a tomarlas y después se pueden llegar a arrepentir. Por esto, para
    alcanzar mis metas profesionales es necesario tomar más riesgos, ganarle al
    miedo de hacer cosas nuevas, participar en actividades que incomoden y que al
    realizarlas te lleven a crecer como persona.</li>
  <li><b>Siempre seguir aprendiendo:</b> uno es posible saberlo todo, pero si es posible
    seguir investigando y aprendiendo. Siempre hay algo nuevo que aprender, cosas
    nuevas que nos ayudan a crecer, que nos ayudan a obtener conocimientos que
    podemos aplicar en nuestra carrera o vida diaria, o a saber relacionarnos, por esto
    nunca se debe dejar de buscar el conocimiento, y menos en una carrera tan
    apegada a la tecnología, donde se está en continuo avance, donde salen cosas
    nuevas y otras se vuelven obsoletas.</li>
</ul>
</p>
</body>
